<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Subscribers</title>
</head>

<body>
    <% subscribers.forEach((one)=> { %>
        <p>
            <%= one.name %> <%= one.email %>
        </p>
        <% }); %>
</body>

</html>