<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>User Index</title>
</head>

<body>
    <h2>Users Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user)=> { %>
                <tr>
                    <td><%= user.fullName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.zipCode %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>