<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>User Create</title>
</head>

<body>
    <div class="data-form">
        <form method="POST" action="/user/create">
            <h2>Create a new user:</h2>
            <label for="inputFirsName">First Name</label>
            <input type="text" name="firstName" id="inputFirstName" placeholder="First Name" autofocus></input>
            <label for="inputLastName">Last Name</label>
            <input type="text" name="lastName" id="inputLastName" placeholder="Last Name"></input>
            <label for="inputPassword">Password</label>
            <input type="text" name="password" id="inputPassword" placeholder="Password" required></input>
            <label for="inputEmail">Email</label>
            <input type="text" name="email" id="inputEmail" placeholder="Email address" required></input>
            <label for="inputZitCode">Zip Code</label>
            <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" placeholder="Zip Code" required></input>
            <button type="submit">Sign in</button>
        </form>
    </div>
</body>

</html>